@charset "UTF-8";
/* CSS Document */

html {
	font-size: 16px;
}


body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	font-size: 1em;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	max-width: 1200px;
	width: 90%;
}

h1,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: 0.75em;
}

p {
	padding: 0 30px;
	font-size: 0.875em;
	line-height: 21px;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;
	border-bottom: 3px solid #77a466;
	text-align: center;
}

header h1 {
	width: 100%;
	margin: 0;
	padding: 38px 0px 20px 0px;
    border-bottom: 3px solid #77a466;
}

header h1 span {
	color: #77a466;
}

header nav {
	width: 100%;
	padding: 20px 0;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	padding: 10px 0px;
	font-size: 0.875em;
	font-weight: 700;
	text-transform: uppercase;
	list-style: none;
}

header nav ul li a {
	text-decoration: none;
	color:#77a466;
}

.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title h3 {
	padding: 5px 0;
	color: #77a466;
	text-align: left;
}

.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
}

.menu {
	padding: 0;
	list-style: none;
}

.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	padding: 0px;
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	padding: 0;
	font-size: 1em;
	line-height: 24px;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;
	border-top: 3px solid #eee;
	text-align: center;
}

footer span {
	color: #77a466;
	font-size: 0.875em;
	font-family: 'Galada', cursive;
	text-transform: lowercase;
}

/* ---------- Tablets larger than 768px wide ---------- */

@media all and (min-width: 768px) {
	.bottom-section {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		border-top: 1px solid #eee;
	}

	.section-one,
	.section-two,
	.section-three {
		flex-basis: 30%;
		border-top: none;
	}

	.section-two {
		padding: 0 20px;
		border-right: 1px solid #eee;
		border-left: 1px solid #eee;
	}  
}

/* ---------- Desktops larger than 1200px wide ----------*/

@media all and (min-width: 1200px) {
	header {
		justify-content: space-between;
	}

	header h1 {
		width: 30%;
		padding: 20px 0;
		border-bottom: none;
		text-align: left;
	}

	header nav {
		width: 50%;
	}

	header nav ul {
		display: flex;
		justify-content: space-between;
	}
	
}


